<launch>
  <!-- Start car2 LD14 lidar without ROS namespace side effects. -->
  <arg name="port_name" default="/dev/ttyUSB0" />
  <arg name="raw_scan" default="/robot2_raw_scan" />
  <arg name="scan" default="/robot2/scan" />

  <include file="$(find cluster_bringup)/launch/ld14_lidar.launch">
    <arg name="port_name" value="$(arg port_name)" />
    <arg name="topic_name" value="$(arg raw_scan)" />
    <arg name="frame_id" value="base_laser" />
    <arg name="node_name" value="robot2_ldlidar_publisher_ld14" />
  </include>

  <node pkg="cluster_bringup" type="scan_frame_republisher.py"
        name="robot2_scan_frame_republisher" output="screen">
    <param name="input_scan" value="$(arg raw_scan)" />
    <param name="output_scan" value="$(arg scan)" />
    <param name="frame_id" value="robot2/base_laser" />
  </node>
</launch>
