<launch>
  <arg name="port_name" default="/dev/ttyUSB1" />
  <arg name="topic_name" default="scan" />
  <arg name="frame_id" default="base_laser" />
  <arg name="node_name" default="ldlidar_publisher_ld14" />

  <node pkg="ldlidar_sl_ros" type="ldlidar_sl_ros_node"
        name="$(arg node_name)" output="screen">
    <param name="product_name" value="LDLiDAR_LD14" />
    <param name="topic_name" value="$(arg topic_name)" />
    <param name="port_name" value="$(arg port_name)" />
    <param name="frame_id" value="$(arg frame_id)" />
    <param name="laser_scan_dir" value="true" />
    <param name="enable_angle_crop_func" value="false" />
    <param name="angle_crop_min" value="135.0" />
    <param name="angle_crop_max" value="225.0" />
  </node>
</launch>
