#!/usr/bin/env python
PACKAGE = "cluster_formation"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("speed_limit", double_t, 0, "Speed limit for formation (m/s)", 0.6, 0.1, 1.0)
gen.add("max_formation_error", double_t, 0, "Max formation error before stop (m)", 2.0, 0.5, 5.0)
gen.add("follower_lost_timeout", double_t, 0, "Follower lost timeout (s)", 3.0, 1.0, 10.0)
gen.add("max_error_duration", double_t, 0, "Max error duration before stop (s)", 5.0, 1.0, 15.0)

gen.add("offset_x", double_t, 0, "Custom formation offset X (m)", 0.0, -3.0, 3.0)
gen.add("offset_y", double_t, 0, "Custom formation offset Y (m)", 0.0, -3.0, 3.0)
gen.add("offset_yaw", double_t, 0, "Custom formation offset Yaw (rad)", 0.0, -3.14, 3.14)

exit(gen.generate(PACKAGE, "cluster_formation", "FormationParams"))
