#!/usr/bin/env python
PACKAGE = "cluster_following"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# Linear PID
gen.add("lin_kp", double_t, 0, "Linear PID Kp", 0.6, 0.0, 5.0)
gen.add("lin_ki", double_t, 0, "Linear PID Ki", 0.01, 0.0, 1.0)
gen.add("lin_kd", double_t, 0, "Linear PID Kd", 0.1, 0.0, 2.0)
gen.add("lin_i_max", double_t, 0, "Linear PID integral max", 0.3, 0.0, 2.0)
gen.add("lin_output_max", double_t, 0, "Linear PID output max (m/s)", 0.8, 0.0, 2.0)

# Angular PID
gen.add("ang_kp", double_t, 0, "Angular PID Kp", 1.2, 0.0, 5.0)
gen.add("ang_ki", double_t, 0, "Angular PID Ki", 0.0, 0.0, 1.0)
gen.add("ang_kd", double_t, 0, "Angular PID Kd", 0.3, 0.0, 2.0)
gen.add("ang_i_max", double_t, 0, "Angular PID integral max", 0.2, 0.0, 2.0)
gen.add("ang_output_max", double_t, 0, "Angular PID output max (rad/s)", 1.0, 0.0, 3.0)

# Speed limits
gen.add("max_linear_speed", double_t, 0, "Max linear speed (m/s)", 0.8, 0.0, 2.0)
gen.add("max_angular_speed", double_t, 0, "Max angular speed (rad/s)", 1.0, 0.0, 3.0)

# Deadband
gen.add("pos_deadband", double_t, 0, "Position deadband (m)", 0.05, 0.0, 0.3)
gen.add("yaw_deadband", double_t, 0, "Yaw deadband (rad)", 0.05, 0.0, 0.3)

# Following mode
gen.add("follow_delay_seconds", double_t, 0, "Follow delay (s)", 2.0, 0.5, 10.0)

exit(gen.generate(PACKAGE, "cluster_following", "FollowerParams"))
